@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", serif;
  
  --color-primary: #0ea5e9;
  --color-primary-dark: #0369a1;
  --color-primary-light: #f0f9ff;
  --color-secondary: #0c4a6e;
}

@layer base {
  body {
    @apply bg-primary-light text-secondary;
  }
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-primary-dark to-primary;
}
